h1 {
  font-size: 2rem;
  font-weight: bold;
  word-spacing: 2px;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  word-spacing: 2px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  word-spacing: 2px;
}

.padding {
  padding: 2rem 1rem;
}

.text-center {
  text-align: center;
}
